<launch>
  <!-- launches follower onboard the quad, under postman namespace-->
    <group ns="postman">
      <node pkg="mslquad" type="follower" name="follower" output="screen">
            <param name="autoland" value="false"/>
            <param name="takeoff_height" value=".8"/>
            <param name="reach_radius" value="0.2"/>
      </node>
      <node pkg="mslquad" type="planner.py" name="planner" output="screen">
      </node> 
    </group>
</launch>
