<?xml version="1.0"?>
<launch>
  <!-- launches follower onboard the quad, verify namespace -->
    <arg name="robot_type" default="quad"/>
    <arg name="id" default="2"/> <!-- This determines the ROS namespace -->
    <group ns="postman">
      <node pkg="mslquad" type="planner_f8.py" name="planner" output="screen">
      </node> 
    </group>
</launch>