<!-- mocap_optitrack is incompatible with Motive Tracker v2.0. Use VRPN instead -->
<launch>
  <arg name="robot_ns" default="quad5" />
  <arg name="vrpn_name" default="quad5" />
  <arg name="pose_out_global_topic" default="/$(arg robot_ns)/mavros/vision_pose/pose" />
  
  <node ns="$(arg robot_ns)" name="vrpn_client" type="ros_vrpn_client" pkg="ros_vrpn_client" output="screen">
    <param name="vrpn_server_ip" value="192.168.0.3" />
    <param name="vrpn_coordinate_system" value="optitrack" />
    <param name="timestamping_system" value="ros" />
    <param name="object_name" value="$(arg vrpn_name)" />
    <param name="verbose" value="true" />
    <param name="translational_estimator/kp" value="0.5" />
    <param name="translational_estimator/kv" value="0.5" />
    <param name="rotational_estimator/orientation_estimate_initial_covariance" value="100.0" />
    <param name="rotational_estimator/rate_estimate_initial_covariance" value="100.0" />
    <param name="rotational_estimator/orientation_process_covariance" value="0.000002" />
    <param name="rotational_estimator/rate_process_covariance" value="10.0" />
    <param name="rotational_estimator/orientation_measurementCovariance" value="0.001" />
    <param name="rotational_estimator/outlier_rejection_method" value="mahalanobis_distance" />
    <param name="rotational_estimator/outlier_rejection_mahalanobis_threshold" value="4.0" />
    <param name="rotational_estimator/outlier_rejection_subsequent_threshold_degrees" value="30.0" />
    <param name="rotational_estimator/outlier_rejection_subsequent_maximum_count" value="50.0" />
    <param name="rotational_estimator/output_minimal_quaternions" value="false" />
    <param name="rotational_estimator/output_minimal_quaternions" value="false" />
    <remap from="vrpn_client/raw_pose" to="$(arg pose_out_global_topic)" />
  </node>
</launch>